<h1>Add known product to {{displayName}}</h1>
<form data-ng-submit="addKnown()">
    <select class="textInput">
        <option>Apple</option>
    </select>
    <input type="number" class="textInput" data-ng-model="" placeholder="Quantity" min="0" data-ng-autofocus/>
    <input type="submit" class="button" value="Add known"/>
</form>

<h1>or add a new product</h1>
<form data-ng-submit="addNew()">
    <input type="text" class="textInput" data-ng-model="newProduct.name" placeholder="Name" data-ng-autofocus/>
    <input type="number" class="textInput" data-ng-model="newProduct.quantity" placeholder="Quantity" min="0" data-ng-autofocus/>
    <input type="submit" class="button" value="Add new"/>
</form>