<h1>Add known product to {{displayName | smallNameLimiter}}</h1>
<form data-ng-submit="addKnown()" data-ng-show="hasKnownProducts">
    <select class="textInput">
        <option data-ng-repeat="product in products" value="{{product.id}}" data-ng-click="setKnownProduct(product)">
            {{product.name}}
        </option>
    </select>
    <div id="ProductPreviewContainer">
        <img data-ng-src="{{knownProduct.image}}" id="KnownProductPreview" />
    </div>
    <input type="number" class="textInput" data-ng-model="knownProduct.quantity" placeholder="Quantity" min="0" data-ng-autofocus/>
    <input type="submit" class="button" value="Add known"/>
</form>
<p data-ng-hide="hasKnownProducts">There aren't any known products yet.</p>

<h1>or add a new product</h1>
<form data-ng-submit="addNew()">
    <input type="text" class="textInput" data-ng-model="newProduct.name" placeholder="Name" data-ng-autofocus/>
    <input type="number" class="textInput" data-ng-model="newProduct.quantity" placeholder="Quantity" min="0" data-ng-autofocus/>
    <div id="ProductPreviewContainer">
        <video id="ProductPictureVideo" autoplay></video>
        <canvas id="ProductPictureCanvas" style="display: none;"></canvas>
    </div>
    <input type="button" class="button" value="Take picture" data-ng-click="takePicture()"/>
    <input type="submit" class="button" value="Add new"/>
</form>