<h1>Inventory</h1>
<div class="inventory" data-ng-repeat="inventory in inventories">
    <h3>{{inventory.name}}</h3>
    <table class="inventoryTable">
        <tbody>
            <tr data-ng-repeat="product in inventory.products">
                <td class="inventoryTableImage">
                    <img data-ng-src="{{product.image}}" class="productImage" />
                </td>
                <td class="inventoryTableName">{{product.name}}</td>
                <td class="inventoryTableQuantity">{{product.quantity}}</td>
                <td  class="inventoryTableModifiers">
                    <input type="button" class="productModifier" value="+" data-ng-click="product.quantity = product.quantity + 1" />
                    <input type="button" class="productModifier" value="-" data-ng-click="product.quantity = product.quantity > 0 ? product.quantity - 1 : product.quantity" />
                </td>
            </tr>
        </tbody>
    </table>

    <a href="#!addproduct">
        <input type="button" class="button-alternative" value="Add product"/>
    </a>
    <a href="#!deleteinventory?id={{inventory.id}}">
        <input type="button" class="button-alternative" value="Delete inventory"/>
    </a>
</div>
<div class="inventory-bottom">
    <a href="#!newinventory">
        <input type="button" class="button" value="New inventory"/>
    </a>
</div>