@font-face{
    font-family:'Raleway-Thin';
    src: url('fonts/Raleway-Thin.ttf') format('truetype');
}

@font-face{
    font-family:'Raleway-Regular';
    src: url('fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face{
    font-family:'Raleway-Bold';
    src: url('fonts/Raleway-Bold.ttf') format('truetype');
}

html, body {
    margin: 0px;
    padding: 0px;
}

body, input, select {
    font-family: 'Raleway-Regular', Verdana, 'Segoe UI', Tahoma, Geneva, sans-serif;
    font-size: 16px;
}

input {
    outline: none;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-weight: normal;
    font-family: 'Raleway-Thin';
    text-align: center;
}

h3 {
    font-family: 'Raleway-Bold';
}

a {
    text-decoration: none;
}

thead {
    font-weight: normal;
    font-family: 'Raleway-Bold';
}

p {
    text-align: center;
}

#AppNavigation {
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 48px;
    background-color: #da1b16;
    border-bottom: 1px solid #FFF;
}

#Logo {
    position: relative;
    float: left;
    max-height: 100%;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

#AppContent {
    margin-top: 48px;
    padding: 10px;
    width: calc(100% - 20px);
}

#Footer {
    position: relative;
    text-align: center;
    margin: 10px;
    width: calc(100% - 20px);
    border-top: 1px solid #dedede;
}

#FooterGraphic {
    max-height: 64px;
    width: auto;
}

#ProductPictureCanvas, #ProductPictureVideo {
    max-width: 100%;
    max-height: 360px;
    width: auto;
    height: auto;
    background-color: #000;
}

#KnownProductPreview {
    width: 100%;
}

.textInput, .button, .button-alternative {
    padding: 5px;
    width: calc(100% - 12px);
    margin-bottom: 5px;
}

select.textInput {
    width: 100%;
}

.button, .button-alternative {
    border: none;
    background-color: #da1b16;
    color: #FFF;
    cursor: pointer;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
}

.button:hover {
    background-color: #222;
}

.button-alternative {
    background-color: #FFF;
    border: 1px solid #dedede;
    color: #222;
}

.button-alternative:hover {
    background-color: #222;
    border-color: #222;
    color: #FFF;
}

.navigationButton {
    position: relative;
    float: left;
    height: 100%;
    min-width: 100px;
    width: initial;
    border: none;
    background: none;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.2s;
}

.navigationButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.productImage {
    max-height: 64px;
    max-width: 64px;
    height: auto;
    width: auto;
}

.productModifier {
    background: none;
    border: none;
    font-size: 200%;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 20px;
}

.productModifier:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.inventoryTable {
    width: 100%;
}

.inventoryTableImage {
    width: 20%;
}

.inventoryTableName {
    width: 50%;
}

.inventoryTableQuantity {
    width: 15%;
    font-size: 130%;
}

.inventoryTableModifiers {
    width: 15%;
    min-width: 68px;
}

.ngUtilsMessage {
    position: fixed;
    bottom: 0px;
    padding: 10px;
    width: calc(100% - 20px);
    color: #da1b16;
    background-color: #FFF;
    text-align: center;
    font-family: 'Raleway-Bold';
    border-top: 1px solid #dedede;
    pointer-events: none;
    animation-name: fade-in-and-flash;
    animation-duration: 2s;
}

.inventory, .inventory-bottom {
    margin-top: 50px;
    margin-bottom: 100px;
}

.inventory-bottom {
    margin-bottom: 0px;
}

@keyframes fade-in-and-flash {
    0% { opacity: 0; color: #da1b16; }
    20% { opacity: 1; color: #da1b16; }
    40% { opacity: 1; color: #da1b16; }
    50% { opacity: 1; color: #FFF; }
    60% { opacity: 1; color: #da1b16; }
    100% { opacity: 1; color: #da1b16; }
}

@media screen and (min-width: 768px) {
    #AppContent, #Footer {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    #AppContent .button, #AppContent .button-alternative {
        max-width: 300px;
        margin-left: calc(50% - 150px);
    }

    #AppContent .textInput {
        max-width: 288px;
        margin-left: calc(50% - 150px);
    }

    #AppContent select.textInput {
        max-width: 300px;
    }

    #AppContent canvas, #AppContent video, #KnownProductPreview {
        max-width: 300px;
        margin-left: auto;
        margin-left: calc(50% - 150px);
    }

    .ngUtilsMessage {
        font-size: 130%;
    }
}